
<html>

    <head>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>

    <body>

        <footer>

             <div class = "footer-block">
                 <p>TravelAir Inc.</p>
                 <img src = "/images/decor/TA_Logo.jpg"/>
             </div>

         </footer>

    </body>

</html>
