:root {
    /* -------- Colors -------- */

    --body-color: #E4E9F7;
    --section-color: #FFF;
    --primary-color: #012d4a;
    --secondary-color: #1f96ff;
    --text-color: #707070;
    --separator-color: #CDCDCD;

    --add-color: #00FF8F;
    --details-color: #FFD800;
    --edit-color: #FF8000;
    --delete-color: #FF0000;

    /* -------- Transition -------- */

    --tran-03-sec: all 0.3s ease;
}





/* -------- Top-Content -------- */

#top-content {
    width: 100%; 
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 81px;
    background-color: var(--body-color);
    padding: 50px 200px 50px 200px;
}

#top-content form{
    width: 100%;
}

#upper-filtration{
    display:flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 0px 5px 0px;
}

#trip-section{
    width: 200px;
    height: 100%;
    margin-right: 5px;
}

#class-section {
    width: 200px;
    height: 100%;
}

#origin-city-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    margin-right: 5px;
}

#passenger-section{
    width: 200px;
    height: 100%;
    margin-right: 5px;
}

#trip-search{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#class-search{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#passenger-search{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


/* -------- Lower-Filtration -------- */


#lower-filtration {
    display: flex;
    width: 100%;
    padding: 5px 0px 5px 0px;
}

#origin-city-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width:33%;
    height: 100%;
    margin-right: 5px;
}

.search-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--section-color);
    color: var(--primary-color);
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
}

#destination-city-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    margin-right: 5px;
}

#departure-date-section {
    width: 33%;
    height: 100%;
    margin-right: 5px;
}

#search-section {
    width:50px;
    height: 100%;
}

#origin-city-search{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#destination-city-search {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#departure-date-search {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none !important;
    padding: 0px 20px 0px 20px;
}


#search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: var(--primary-color);
}

#search-button a{
    color: var(--section-color);
    font-size: 25px;
}


/* -------- Select2 Styling -------- */


.select2-selection__rendered {
    line-height: 50px !important;
   
}
.select2-container .select2-selection--single {
    height: 50px !important;
    border: none !important;
    border-radius: 0px 5px 5px 0px !important;
}
.select2-selection__arrow {
    height: 50px !important;
}

.no-search .select2-search {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
}

.no-search-two .select2-container--open{
    display: none !important;
    width: 0px !important;
    height: 0px !important;
}



/* -------- Create Flight Offer Button -------- */


.main {
    width: 100%;
    height: 100%;
    padding: 0px 0px 300px 0px;
}

#create-div {
    padding: 0px 50px 50px 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#inside-create-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#create-div a {
    display: flex;
    background-color: var(--primary-color);
    align-items: center;
    text-decoration: none;
    color: var(--section-color);
}

#create-div p{
    margin: 0px 0px 0px 5px;
}

#create-separator{
    width: 85%;
    border: 1px solid;
    border-color: var(--text-color);
}

#manage-part-create {
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 2px;
    border: 3px solid;
    border-color: var(--primary-color)
}

/* -------- Offer Panels -------- */




#offers-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.offer-panel {
    display: flex;
    width: 1000px;
    height: 200px;
    background-color: var(--section-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 10px #707070;
}

.main-info{
    display: flex;
    width: 75%;
    height: 100%;
    align-items:center;
}

.comp-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    height: 100%;
}

.comp-img{
    width: 80px;
    height: 80px;
}

.comp-img img{
    width: 100%;
    height: 100%;
}

.places-dates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:33%;
    height: 100%;
}

.places-dates span{
    vertical-align: middle;
}

.trip-length{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    height: 100%;
}

.side-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 100%;
    border-left: 1px solid;
    border-color: var(--text-color);
}

.side-info-cont {
    padding: 0px 0px 10px 10px;
    width: 100%;
    height: contain;
}

.side-info-cont span{
    display: block;
}

.price-part{
    display: flex;
    justify-content: space-between;
}

.manage-part{
    display: flex;
    align-items: center;
}

.manage-part a{
    width:25px;
    height: 25px;
    color: var(--section-color);
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 2px;
    border: 3px solid;
    border-color: var(--secondary-color)
}

.icon{
    color: var(--primary-color);
}

.icon-link{
    display: flex;
    align-items: center;
}


.btn-part {
    padding-left: 10px;
    width: 100%;
}

.offer-btn {
    width: 100%;
    height: 40px;
    width: 100%;
}











