@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <link rel="stylesheet" href=~/css/root.css/ asp-append-version="true">
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
</head>

<body>

    <div class = "main">

        <div class="form-decor">

            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                <div class = "form-header">
                    <img src = "/images/decor/TA_Logo.jpg" />
                    <h2>Create a TravelAir Account</h2>
                </div> 

                <hr class = "form-element"/>


                <div class = "names-part  form-element">
                     <div class="form-floating first-name-fe">
                        <input asp-for="Input.FirstName" class="form-control" autocomplete = "username" aria-required="true" />
                        <label asp-for="Input.FirstName"></label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                     <div class="form-floating last-name-fe">
                        <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.LastName"></label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div> 
                 <div class="form-floating form-element">
                    <input asp-for="Input.UserNameDisplay" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.UserNameDisplay"></label>
                    <span asp-validation-for="Input.UserNameDisplay" class="text-danger"></span>
                </div>
                <div class="form-floating form-element">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating form-element">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class = "form-btn-part">
                    <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary register-btn">Sign In</button>
                    <a asp-controller = "Home" asp-action = "Index">
                        <button id="registerSubmit" type="button" class="btn btn-lg btn-primary register-back-btn">Back</button>
                    </a>       
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
            </form>

        </div>

    </div>

</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
