<html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/TravelAir.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />


        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>

        <div class = "main">

            <partial  name = "_LogOutPopupPartial"></partial>

            <section>

                <div class = "instruction-panel">
  
                    <div class = "panel-container">

                        <div class = "info-panel">
                            <i class = "bx bx-file-find"></i>
                            <h5>Search For A Ticket</h5>
                            <p class = "search-text">Search for a flight to your desired destination, as well for flights from a given place. 
                                Check for flights in a given period and choose the flight experience that you want.</p>
                        </div>
                        <div class = "info-panel query-info">
                            <i class = "bx bx-food-menu"></i>
                            <h5>See The Search Results</h5>
                            <p class = "search-text">Pick and choose from the flights you received after providing the relevant data. 
                                Take your time and compare them in order to find the option that is best for you.</p>
                        </div>
                        <div class = "info-panel">
                            <i class = "bx bx-money"></i>
                            <h5>Explore Your Offers</h5>
                            <p class = "search-text">After you choose to view a particular offer from the result, you'll be redirected to the website where that offer is placed, 
                                and you'll be able to make your ticket purchase.</p>
                        </div>

                    </div>

                </div>


                <div class = "additional-info">

                    <div class = "image-part">
                         <img src = "/images/decor/Index_Airplane_Image.jpg"/>
                         <img src = "/images/decor/Index_Airplane_Image_1.jpg"/>
                    </div>
                   
                    <p>TravelAir provides a large quantity of varying deals for any destination, which grants you the ability you to compare ticket prices and find the direct or stopover flight that best suits your needs. 
                       You can find flights to different exotic destinations at the best possible price in a any time period that you wish. Compare different kinds of offers from airline agencies and pursue the one the gives the best deals
                       in order to find the perfect flight ticket. The search filtering allows you to find tickets that satisfy your preferred criteria such as flight duration, airlines, stopovers, class of travel, departure and arrival times.
                       Quickly find your low-cost or cheap flight in seconds by comparing offers and completing your booking without wasting time. Rely on TravelAir to find the best flight deals! </p>

                </div>


                <div class = "destinations">

                    <div class = "places-header">   
                        <i class='bx bx-world'></i>
                        <h2> Destinations</h2>
                    </div>
                    
                    <div class = "gallery-separator"></div>

                    <div class = "gallery">

                        <div class = "img-container img-ny">
                            <a href = "">New York</a>
                        </div>
                         <div class = "img-container img-rome">
                             <a href = "">Rome</a>
                        </div>
                         <div class = "img-container img-sydney">
                             <a href = "">Sydney</a>
                        </div>
                         <div class = "img-container img-tokyo">
                             <a href = "">Tokyo</a>
                        </div>

                    </div>

                </div>

            </section>

        </div>
 
    </body>

 </html>  
